<div class="p-4 sm:p-6 lg:p-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-2xl font-bold tracking-tight text-gray-900">Comment Moderation</h1>
      <p class="mt-2 text-sm text-gray-700">Comments with pending reports are listed below.</p>
    </div>
  </div>

  <div class="mt-8 flow-root">
    <div class="inline-block min-w-full py-2 align-middle">
      <div class="overflow-visible shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Reported Comment & Details</th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 text-right">Actions</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <% @comments.each do |comment| %>
            <tr>
              <td class="py-4 pl-4 pr-3 text-sm sm:pl-6">
                <p class="font-medium text-gray-900"><%= comment.body %></p>
                <p class="text-xs text-gray-500 mt-2">
                  By <%= comment.user.name %> on article:
                  <%= link_to comment.article.title, article_path(comment.article), target: "_blank", class: "font-semibold text-indigo-600 hover:underline" %>
                </p>
                <div class="mt-2 space-y-1">
                  <% comment.reports.pending.each do |report| %>
                    <p class="text-xs text-gray-500 italic">"<%= report.reason %>" - <span class="font-semibold"><%= report.user.name %></span></p>
                  <% end %>
                </div>
              </td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 align-top">
                <div class="flex items-center justify-end gap-x-4">
                  <%= link_to "Show", article_path(comment.article), target: "_blank", class: "text-indigo-600 hover:text-indigo-900" %>

                  <div data-controller="dropdown" data-action="click@window->dropdown#hide" class="relative inline-block text-left">
                    <button data-action="dropdown#toggle" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                      Actions
                      <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                      </svg>
                    </button>
                    <div data-dropdown-target="menu" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                      <div class="py-1">
                        <%= button_to "Mark as Resolved", resolve_reports_admin_comment_path(comment), method: :patch, class: "text-gray-700 block w-full px-4 py-2 text-left text-sm hover:bg-gray-100" %>
                        <%= button_to "Mark as Dismissed", dismiss_reports_admin_comment_path(comment), method: :patch, class: "text-gray-700 block w-full px-4 py-2 text-left text-sm hover:bg-gray-100" %>
                      </div>
                    </div>
                  </div>

                  <%= link_to "Delete", admin_comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-600 hover:text-red-900" %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>