<%= turbo_stream.remove @comment %>
<%= turbo_stream.update "comment-count-#{@article.id}" do %>
  Comments (<%= @article.comments.kept.count %>)
<% end %>
<% if @comment.parent_id? %>
  <%#= turbo_stream.update "reply-count-#{@comment.parent_id}" do %>
<!--    View <%#= pluralize(@comment.parent.replies.count, 'reply') %>-->
  <%# end %>
  <%= turbo_stream.update "reply-count-#{@comment.parent_id}" do %>
    <% if @comment.parent.replies.kept.any? %>
      View <%= pluralize(@comment.parent.replies.kept.count, 'reply') %>
    <% else %>
      <span class="hidden"></span>
    <% end %>
  <% end %>

<% end %>