<%# This partial displays a single article as a summary card. %>
<div class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm group transition hover:shadow-md">

  <div class="flex justify-between items-center mb-4">
    <div class="flex items-center space-x-2">
      <% if article.user.profile_picture.attached? %>
        <%= image_tag article.user.profile_picture, class: "h-7 w-7 rounded-full object-cover" %>
      <% else %>
        <div class="h-7 w-7 rounded-full bg-gray-200 flex items-center justify-center text-gray-500 text-xs font-semibold">
          <%= article.user.name.first.upcase %>
        </div>
      <% end %>
      <p class="text-sm text-gray-700 font-medium"><%= article.user.name %></p>
      <span class="text-gray-400 text-xs">•</span>
      <p class="text-xs text-gray-500"><%= time_ago_in_words(article.created_at) %> ago</p>
    </div>

    <div class="flex space-x-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      <%= link_to "Show", article, class: "rounded-md px-3 py-1.5 text-xs bg-gray-100 hover:bg-gray-200 font-medium" %>
      <% if policy(article).update? %>
        <%= link_to "Edit", edit_article_path(article), class: "rounded-md px-3 py-1.5 text-xs bg-gray-100 hover:bg-gray-200 font-medium" %>
      <% end %>
      <% if policy(article).destroy?  %>
        <%= button_to "Destroy", article, method: :delete,
                      class: "rounded-md px-3 py-1.5 text-xs text-white bg-red-600 hover:bg-red-500 font-medium",
                      data: { turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>

  <%= link_to "##{article.topic.slug}", topic_path(article.topic), class: "inline-block mb-2 px-2 py-0.5 text-xs font-medium rounded-full bg-blue-50 text-blue-600" %>

  <%= link_to article_path(article), class: "block" do %>
    <h2 class="text-xl font-bold tracking-tight text-gray-900 group-hover:text-gray-700">
      <%= article.title %>
    </h2>
  <% end %>

  <p class="mt-2 text-sm text-gray-600">
    <%= extract_summary_from_editorjs(article.content, length: 200) %>
  </p>

</div>